.fz-20 {
    font-size: 20px;
}

.fz-25 {
    font-size: 25px;
}

.fz-30 {
    font-size: 30px;
}

.fz-35 {
    font-size: 35px;
}

.fz-45 {
    font-size: 45px;
}

.fz-60 {
    font-size: 60px;
}

.fz-75 {
    font-size: 75px;
}

.fz-100 {
    font-size: 100px;
}