.downUp {
    position: relative;
    &-item-title {
        border-radius: 5px;
        border: 1px solid $blue-color;
        padding: 10px 20px;
        font-size: 18px;
        position: relative;
        cursor: pointer;
        &:before {
            content: "";
            border: solid #2264d1;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            position: absolute;
            right: 20px;
            top: 15px;
            width: 2px;
            height: 2px;
            z-index: 10;
            transition: .5s all;
        }
    }
    .wrapper {
        height: 0;
    }
    &-item-content {
        overflow: hidden;
        font-size: 15px;
        padding: 10px 15px;
    }
    &-item {
        overflow: hidden;
        &.active-content {
            .downUp-item-title {
                &:before {
                    content: "";
                    transform: rotate(-135deg);
                }
            }
        }
    }
}