.slider {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    .prev, .next {
        position: absolute;
        z-index: 10;
        border: none;
        background: rgba(0, 0, 0, 0.2);
        height: 100%;
        width: 100px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 30px;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slider-slides {
        width: 100%;
        display: flex;
        flex-wrap: revert;
        position: relative;
    }
    .slider-slide {
        min-width: 100%;
        height: 100%;
    }
    .slider-points {
        ol {
            position: absolute;
            z-index: 10;
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 5px;
            bottom: 0;
            li {
                width: 20px;
                height: 10px;
                background: $blue-color;
                cursor: pointer;
                list-style-type: none;
                opacity: 0.5;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}